{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <p class="article-content">Go to {{ post1 }}</p>
            <p class="article-content">{{ post2 }}</p>
            <p class="article-content"> to get AuthCode.</p>
        </div>
    </article>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Google Drive Login</legend>
                <div class="form-group">
                    {{ form.authcode.label(class="form-control-label") }}
                    {% if form.authcode.errors %}
                        {{ form.authcode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.authcode.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.authcode(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}